@import "tailwindcss";

body {
  background-image: radial-gradient(
      circle at top right,
      rgba(117, 251, 76, 0.95) 0.5%,
      rgba(15, 24, 32, 0.95) 5%
    ),
    url("./assets/Texture.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Sen", sans-serif;
}

.test-bg {
  background-image: radial-gradient(
    circle at top right,
    #75fb4c,
    rgb(177, 249, 87) 5%
  );
}

.texture-bg {
  background-color: rgba(74, 85, 101, 0.5);
  background-image: url("./assets/Texture.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo_bd {
  border: 2px dotted #75fb4cf2;
}

.main_text {
  color: #e7e2e2;
}

.transparent_light {
  background-color: rgba(255, 255, 255, 0.05);
}

.transparent_dark {
  background-color: rgba(0, 0, 0, 0.781);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(15, 24, 32, 0.95);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #75fb4cf2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1f957;
}
